# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Runtime storage (IMPORTANT)
D:/HomeServer/

# Database
server.db
*.db

# Server Identity
server.secret